
h1 {
  font-family: 'Roboto', sans-serif;
  color: rgb(22, 44, 69);
  margin-bottom: 30px;
  cursor: default;

}
li{
  font-family: 'Roboto', sans-serif;
}

span{
  font-family: 'Roboto', sans-serif;
}

label{
  font-family: 'Roboto', sans-serif;
}

.card {
  border: none;
  width: 40px;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.image-container {
  position: relative;
}

.image-container img {
  width: 100%;
  height: auto;
}

.text {
  position: absolute;
  bottom: 10%;
  right: 5%;
  font-size: 4vw;
  color: white;
  text-shadow: 2px 2px 4px #000000;
  font-family: 'Roboto', sans-serif;
}


@media screen and (max-width: 768px) {
  .text {
    bottom: 5%;
    right: 2%;
    font-size: 6vw;
  }
}

@media screen and (max-width: 576px) {
  .text {
    bottom: 3%;
    right: 1%;
    font-size: 8vw;
  }
}

.custom-image-container {
  position: relative;
  width: 100%;
  display: inline-block;
  overflow: hidden;
}

.custom-image {
  width: 100%;
  height: auto;
  display: block;
  max-height: 600px;
}


.btn-primary {
  width: 100%;
  padding: 10px;
  background-color: #002947;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-primary:hover {
  background-color: #0056b3;
}

.card-img-top.rounded {
  border-radius: 50%;
  object-fit: cover;
  width: 100%;
  height: auto;
  max-height: 250px;
}

