<div class="container-fluid p-0">
  <img src="assets/img/trabaja-con-nosotros/banner-office.jpg" alt="" class="img-fluid w-100">
</div>
<div class="container my-5">
  <h2 class="text-center">TRABAJA CON NOSOTROS</h2>
  <div class="row align-items-center my-5">
    <div class="col-md-6">
      <h5 class="my-5">Promovemos un ambiente de trabajo positivo y enriquecedor. Valoramos y respetamos a cada uno de nuestros
        colaboradores, ofreciéndoles oportunidades para su crecimiento profesional. En nuestra empresa, los colaboradores
        disfrutan de estabilidad y tienen el respaldo necesario para cumplir tanto sus metas personales como familiares. Nos
        dedicamos a cuidar el bienestar de nuestros trabajadores, asegurando un entorno donde puedan prosperar y
        desarrollarse plenamente.</h5>
    </div>
    <div class="col-md-6 ">
      <img src="assets/img/trabaja-con-nosotros/trabajo.jpg" alt="" class="img-fluid rounded shadow">
    </div>
        <button class="btn btn-primary my-5 w-25">VACANTES</button>
  </div>
</div>
