<div class="animate__animated animate__fadeIn">
  <div class="container">
    <div class="row g-5 justify-content-between">
      <div class="col-5 ">
        <h2>VINOS Y LICORES</h2>
        <h4>Línea líder en importación y distribución de Vinos y licores:</h4>
        <p>Actualmente es importador y distribuidor exclusivo de vinos y licores de productos provenientes de
          España, Francia, Italia, Estados Unidos, Argentina, Chile, Australia, Reino Unido, Guatemala y México.
          Nuestra línea cuenta con Regionales que cubren gran parte del territorio colombiano: <br> Bogotá ·
          Bucaramanga · Medellín · Cali · Barranquilla · Cartagena · Santa Marta · Pereira · Manizales · Armenia
        </p>
        <div class=" social-icons d-flex justify-content-start align-items-center">
          <a href="https://www.facebook.com/marpicovinos" target="_blank" class="facebook mx-2">

            <i class="bi bi-facebook"></i>
          </a>
          <a href="https://www.instagram.com/marpicovinosylicores/" target="_blank" class="instagram mx-2">

            <i class="bi bi-instagram"></i>
          </a>

        </div>
        <div class="d-grid gap-2 my-2">
          <a href="https://marpicovinos.com/#/VerificacionEdad" target="_blank" class="btn btn-primary" role="button">Nuestra
            página</a>
        </div>
      </div>
      <div class="col-md-5">
        <img src="assets/img/img3.svg" class="img-fluid" alt="Imagen de ejemplo">
      </div>
    </div>
  </div>
</div>
