<footer class="footer">
  <div class="row">
      <div class="col" style="text-align: left;">
          <img src="../../../../assets/img/CMarpico.png" alt="Imagen">
      </div>
      <div class="col">
          <ul>
              <li class="list-group-item">INFORMACION</li><br>
              <li class="list-group-item"><strong>NIT:</strong> 800015615</li>
              <li class="list-group-item">CALLE 100 8 a-49 Trr B Of 702</li>
              <li class="list-group-item">(+57) 601 6235566</li>


          </ul>
      </div>
      <div class="col" style="text-align: right;">
          <button>Contacto</button>
      </div>
  </div>
</footer>


