* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}



.footer {
  background-color: #002b49;
  padding: 20px;
  border-top: 1px solid #e7e7e7;
  height: 200px;
}
.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.col {
  flex: 1;
  text-align: center;
}
.col img {
  max-width: 100%;
  height: auto;
}
.col ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.col button {
  padding: 10px 60px;
  background-color: #007BFF;
  color: white;
  border: none;
  cursor: pointer;
}
.col button:hover {
  background-color: #0056b3;
}

.footer img {
  height: 170px;
  margin-right: auto;
  margin-left: 0
}

li{
  color: white;
  font-size: medium;
  font-weight: bolder;
  cursor: default;

}

P{
  cursor: default;

}


