.footer {
  background-color: #002b49;
  padding: 20px 0;
  border-top: 1px solid #e7e7e7;
}

.footer img {
  height: 170px;
}

.col {
  text-align: center;
}

.col ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

li {
  color: white;
  font-size: medium;
  font-weight: bolder;
  cursor: default;
}

p {
  cursor: default;
}

h5 {
  color: white;
}
@media screen and (max-width: 576px) {
  .col {
    display: block;
    width: 100%;
    margin-bottom: 20px;
    text-align: center;
  }
}

