<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col" style="text-align: left;">
        <a href="#">
          <img src="assets/img/CMarpico.png" alt="Imagen">
        </a>
      </div>
      <div class="col">
        <ul>
          <li class="list-group-item">INFORMACION</li><br>

          <li class="list-group-item">MARPICO S.A.S</li>
          <li class="list-group-item"><strong>NIT:</strong> 800015615</li>
          <li class="list-group-item">CALLE 100 8 a-49 Trr B Of 702</li>
          <li class="list-group-item">(+57) 601 6235566</li>
        </ul>
      </div>
      <div class="col text-center">
        <div class="d-grid gap-2 col-6 mx-auto">
            <h5 class="text-center">¿NECESITAS AYUDA?</h5>
            <svg xmlns="http://www.w3.org/2000/svg" width="200" height="40" fill="white" class="bi bi-envelope" viewBox="0 0 16 16">
                <path d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1zm13 2.383-4.708 2.825L15 11.105zm-.034 6.876-5.64-3.471L8 9.583l-1.326-.795-5.64 3.47A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.741M1 11.105l4.708-2.897L1 5.383z"/>
            </svg>
            <a href="contacto" class="btn btn-primary" role="button">CONTÁCTANOS</a>
        </div>
    </div>

    </div>
  </div>
</footer>
