.navbar {
  background-color: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(10px);
  transition: background-color 0.3s, backdrop-filter 0.3s;
}

.navbar-nav .nav-link:hover {
  transform: scale(1.1);
}

@keyframes move-up {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-3px);
  }
}

.navbar-nav .nav-link:hover {
  animation: move-up 0.3s ease;
}

.navbar-nav .nav-link:hover {
  transform: translateY(-4px);
}

.navbar-nav .nav-item:not(:last-child) .nav-link {
  margin-right: 10px;
}

.nav-link {
  color: #002b49;
  font-weight: bolder;
}
