
html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.text {
  position: absolute;
  bottom: 80px;
  right: 30px;
  font-size: 120px;
  font-weight: bolder;
  color: white;
  text-shadow: 2px 2px 4px #000000;
  cursor: default;

}

h1{
  color: rgb(20,44,69);
  cursor: default;
  font-size: 50px;
  font-weight: bolder;

}

.card{
  border: none;
  width: 40px ;
}
li{
  font-size: larger;
  font-size: 20px;
  font-weight: bolder;
  cursor: default;


}

.btn {
  width: 100%;
  padding: 10px;
  background-color: #002947;
  color: white;
  text-align: center;
  text-decoration: none;
  border: none;
  border-radius: 0;
  cursor: pointer;
  transition: background-color 0.3s ease;

}


.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.image-container {
  position: relative;
}

.image-container img {
  width: 100%;
  height: auto;
}

.text {
  position: absolute;
  bottom: 10%;
  right: 5%;
  font-size: 4vw;
}


@media screen and (max-width: 768px) {
  .text {
    bottom: 5%;
    right: 2%;
    font-size: 6vw;
  }
}

@media screen and (max-width: 576px) {
  .text {
    bottom: 3%;
    right: 1%;
    font-size: 8vw;
  }
}

.custom-image-container {
  position: relative;
  width: 100%;
  display: inline-block;
  overflow: hidden;
}

.custom-image {
  width: 100%;
  height: auto;
  display: block;
  max-height: 600px;
}

.text {
  position: absolute;
  bottom: 10%;
  right: 5%;
  font-size: 4vw;
  color: white;
  text-shadow: 2px 2px 4px #000000;
}
.btn-primary {
  width: 100%;
  padding: 10px;
  background-color: #002947;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-primary:hover {
  background-color: #0056b3;
}





