<div class="animate__animated animate__fadeIn">
  <div class="custom-image-container">
    <img src="../../../../assets/img/contacto.jpg" class="img-fluid custom-image">
    <div class="text">CONTACTO</div>
  </div>
  <br><br><br>

  <div class="container">

    <h1 class="mt-4 mb-4 text-center">CONTACTO PRINCIPAL</h1>

    <div class="row">
      <div class="d-flex justify-content-center">
        <div class="card" style="width: 18rem;">
          <a href="https://www.google.com/maps/place/Marpico+S.A/@4.6807294,-74.0434881,17z/data=!3m1!4b1!4m6!3m5!1s0x8e3f9a99f62afa25:0xaacfe024f5f8a71b!8m2!3d4.6807241!4d-74.0409132!16s%2Fg%2F11r9csgcw?entry=ttu"
            target="_blank">
            <img src="assets/img/maps.jpg" class="card-img-top rounded">
          </a>
          <div class="card-body">
            <ul>
              <li class="list-group-item">BOGOTÁ D.C</li>
              <li class="list-group-item">WORLD TRADE CENTER</li>
              <li class="list-group-item">Calle 100 N. 8A - 49 <br>Torre B Oficina 702</li>
              <li class="list-group-item">(57) 601 6235566</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <hr>

    <h1 class="mt-4 mb-4 text-center">FORMULARIO DE CONTACTO</h1><br>

    <div class="form-floating mb-3">
      <input type="name" class="form-control" id="floatingInput" placeholder="name">
      <label for="floatingInput">Nombres y apellidos completos</label>
    </div>
    <div class="form-floating">
      <input type="email" class="form-control" id="floatingPassword" placeholder="email">
      <label for="floatingPassword">Correo electrónico</label><br>
    </div>
    <div class="form-floating mb-3">
      <input type="number" class="form-control" id="floatingInput" placeholder="number">
      <label for="floatingInput">Número de teléfono</label>
    </div>
    <div class="form-floating">
      <input type="number" class="form-control" id="floatingPassword" placeholder="number">
      <label for="floatingPassword">Número de cédula</label><br>
    </div>
    <div class="form-floating mb-3">
      <input type="text" class="form-control" id="floatingInput" placeholder="text">
      <label for="floatingInput">Desde donde nos contacta</label>
    </div>

    <div class="form-floating">
      <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2"
        style="height: 100px"></textarea>
      <label for="floatingTextarea2">Comentarios</label>
    </div><br>
    <div class="mb-3 form-check">
      <input type="checkbox" class="form-check-input" id="exampleCheck1">
      <label class="form-check-label user-select-none" for="exampleCheck1">Acepto los términos</label>
    </div>
    <div class="d-flex justify-content-center d-grid gap-2 col-6 mx-auto">
      <button type="button" class="btn btn-primary btn-lg px-5">Enviar</button>
    </div>

  </div><br>
</div>
