<section class="min-vh-100">
  <div class="custom-image-container">
    <img src="assets/img/contacto/datos.jpg" class="img-fluid custom-image">
    <div class="text">DICCIONARIO DE DATOS</div>
  </div>
  <div class="container">
    <div class="row justify-content-center my-5" *ngFor="let row of rows">
      <div class="col-md-4 text-center" *ngFor="let col of row.columns">
        <ul class="list-group-item card shadow my-2 ">
          <i class="bi bi-person-lines-fill fs-2"></i>
          <li class="list-group-item">Dependencias-Marpico</li>
          <li class="list-group-item">Contacto</li>
          <li class="list-group-item">ejemploCorreo.com</li>
          <button class="btn btn-primary w-50 my-5">
            <i class="bi bi-whatsapp me-2"></i> CONVERSAR
          </button>
        </ul>
      </div>
    </div>
  </div>
</section>
