.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.image-container {
  position: relative;
}

.image-container img {
  width: 100%;
  height: auto;
}

.text {
  position: absolute;
  bottom: 10%;
  right: 5%;
  font-size: 4vw;
  color: white;
  text-shadow: 2px 2px 4px #000000;
  font-family: 'Roboto', sans-serif;
}


@media screen and (max-width: 768px) {
  .text {
    bottom: 5%;
    right: 2%;
    font-size: 6vw;
  }
}

@media screen and (max-width: 576px) {
  .text {
    bottom: 3%;
    right: 1%;
    font-size: 8vw;
  }
}

.custom-image-container {
  position: relative;
  width: 100%;
  display: inline-block;
  overflow: hidden;
}

.custom-image {
  width: 100%;
  height: auto;
  display: block;
  max-height: 600px;
}


.btn-primary {
  width: 100%;
  padding: 10px;
  background-color: #002947;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.card {
  cursor: default;
  transition: all 400ms ease;
}

.card:hover {
  box-shadow: 20px 5px 20px rgba(0, 0, 0, 0.1);
  transform: translateY(-3%);
}
