<div class=" my-3 animate__animated animate__fadeIn">
  <br>
  <div id="mision-vision">
    <div class="image-container">
      <figure class="image">
        <img src="assets/img/MISION.jpg">
        <div class="capa">
          <h3>MISIÓN</h3>
          <p>Proveer diversos productos que se ajusten a las necesidades de los clientes a través de la importación,
            distribución y comercialización de productos de Ferretería, Vinos y Licores y Promocionales brindando bienes
            y servicios innovadores de alta calidad mediante la excelencia en el servicio y competitividad, creando así
            valor para los clientes, colaboradores y accionistas.</p>
        </div>
      </figure>
      <figure class="image">
        <img src="assets/img/vision.png">
        <div class="capa">
          <h3>VISIÓN</h3>
          <p>Alcanzar un mayor posicionamiento en la comercialización de productos de Ferretería, Vinos y Licores y
            Promocionales a través de la innovación y calidad de los productos y servicios prestados a sus clientes,
            siendo una compañía respaldada por su experiencia y conocimiento del mercado, que cuenta con un equipo
            humano preparado, soportada en procesos, recursos físicos y tecnológicos modernos.</p>
        </div>
      </figure>
    </div>
  </div>
</div>
