<nav class="navbar sticky-top navbar-expand-lg py-3 " [ngClass]="{'navbar-solid': navbarSolid}">
  <div class="container-fluid">
    <a href="#" class="navbar-brand">
      <img src="assets/img/navbar/logo-hor_blanco.png" alt="Logo" width="150" class="img-fluid">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
      aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse d-none d-lg-block" id="navbarNav">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active text-white " aria-current="page" [href]="'/sobre-nosotros'"
            [routerLink]="'/sobre-nosotros'" routerLinkActive="activa"> <b>Quiénes somos</b> </a>
        </li>

        <li class="nav-item">
          <a class="nav-link text-white" [href]="'#lineas'" routerLinkActive="activa"><b>Líneas de negocio</b> </a>
        </li>

        <li class="nav-item">
          <a class="nav-link text-white" [href]="'/contacto'" [routerLink]="'/contacto'" routerLinkActive="activa">
            <b>Contáctanos</b> </a>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle text-white" href="#" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            <b>Documentos</b>
          </a>
          <ul class="dropdown-menu w-auto" style="max-width: 300px;">
            <li>

              <a class="dropdown-item" href="assets/archivos/017-PoliticaParaElTratamientoDeDatosPersonalesV6.pdf"
                target="_blank"> <i class="bi bi-link"></i> Política de Tratamiento de Datos <br> Personales </a>
            </li>

            <li><a class="dropdown-item text-wrap" href="assets/archivos/aviso-de-privacidad.pdf" target="_blank"> <i
                  class="bi bi-link"></i> Aviso de
                Privacidad</a></li>
            <li><a class="dropdown-item text-wrap" href="assets/archivos/politica-de-uso-pagina-web.pdf"
                target="_blank"><i class="bi bi-link"></i> Política de Uso de Contenidos Página Web</a></li>

            <li><a class="dropdown-item text-wrap"
                href="assets/archivos/006-ManualGeneralParaLaPrevenciónDeLA-FT-FPADM.pdf" target="_blank"> <i
                  class="bi bi-link"></i> Manual General
                para la Prevención del LA/FT/FPADM</a></li>

            <li><a class="dropdown-item text-wrap"
                href="assets/archivos/018-ManualDeCumplimientoDelProgramaDeTransparenciayEticaEmpresarialDeMarpico.pdf"
                target="_blank"> <i class="bi bi-link"></i> Programa de Transparencia y Ética Empresarial </a></li>
          </ul>
        </li>

      </ul>
      <ul class="navbar-nav">
        <li class="nav-item">

          <a class="nav-link text-white" target="_blank" href="https://pay.marpico.co/#/">
            <i class="bi bi-credit-card" style="margin-right: 4px;"></i><b>Pagos Marpico</b>
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link text-white" target="_blank" href="https://gestiondocumentos.marpico.co/#/"> <i class="bi bi-person-walking" style="margin-right: 4px;"></i><b>Hazte
              Cliente</b></a>
        </li>
      </ul>


    </div>



    <div class="offcanvas offcanvas-start d-lg-none custom-offcanvas" tabindex="-1" id="offcanvasNavbar"
      aria-labelledby="offcanvasNavbarLabel">
      <div class="offcanvas-header">
        <a href="#" class="navbar-brand">
          <img src="assets/img/navbar/marpicoLogo.png" alt="Logo" class="img-fluid">
        </a>
      </div>
      <div class="offcanvas-body">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active text-white" aria-current="page" [href]="'/sobre-nosotros'"
              [routerLink]="'/sobre-nosotros'"> Quiénes somos </a>
          </li>

          <li class="nav-item">
            <a class="nav-link text-white" [href]="'#lineas'"> Líneas de negocio </a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" [href]="'/contacto'" [routerLink]="'/contacto'"> Contáctanos </a>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text-white" href="#" role="button" data-bs-toggle="dropdown"
              aria-expanded="false">
              Documentos
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="assets/archivos/017-PoliticaParaElTratamientoDeDatosPersonalesV6.pdf"
                  target="_blank">Política de Tratamiento de Datos Personales </a></li>

              <li><a class="dropdown-item" href="assets/archivos/aviso-de-privacidad.pdf" target="_blank"> Aviso de
                  Privacidad </a></li>
              <li><a class="dropdown-item" href="assets/archivos/politica-de-uso-pagina-web.pdf" target="_blank">
                  Política de Uso de <br> Contenidos Página Web</a></li>

              <li><a class="dropdown-item text-wrap"
                  href="assets/archivos/006-ManualGeneralParaLaPrevenciónDeLA-FT-FPADM.pdf" target="_blank">Manual
                  General para la Prevención del LA/FT/FPADM</a></li>

              <li><a class="dropdown-item text-wrap"
                  href="assets/archivos/018-ManualDeCumplimientoDelProgramaDeTransparenciayEticaEmpresarialDeMarpico.pdf"
                  target="_blank"> Programa de Transparencia y Ética Empresarial </a></li>
            </ul>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text-white" href="#" role="button" data-bs-toggle="dropdown"
              aria-expanded="false">
              Enlaces de interes
            </a>
            <ul class="dropdown-menu w-auto" style="max-width: 300px;">
              <li><a class="dropdown-item text-wrap" href="https://pay.marpico.co/#/" target="_blank">Pagos Marpico
                  S.A.S.</a></li>
              <li><a class="dropdown-item text-wrap" href="https://gestiondocumentos.marpico.co/#/"
                  target="_blank">Hazte Cliente</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text-white" href="#" role="button" data-bs-toggle="dropdown"
              aria-expanded="false">
              Línea Ética
            </a>
            <ul class="dropdown-menu w-auto" style="max-width: 300px;">
              <li><a class="dropdown-item text-wrap" href="https://forms.office.com/r/xXtma4LW72"
                  target="_blank">Formulario
                </a></li>
              <li><a class="dropdown-item text-wrap" href="mailto:lineaetica@marpico.com.co" target="_blank">Correo de
                  atención</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
