.navbar {
  height: 75px;
  background-color: rgba(0, 43, 73, 1);
  backdrop-filter: blur(10px);
  transition: background-color 0.3s, backdrop-filter 0.3s;
}

.navbar-brand img {
  max-height: 100%;
  flex: 0 1 auto;
}

.navbar-nav .nav-link:hover {
  transform: scale(1.1);
}

@keyframes move-up {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-3px);
  }
}

.navbar-nav .nav-link:hover {
  animation: move-up 0.3s ease;
}

.navbar-nav .nav-link:hover {
  transform: translateY(-4px);
}

.navbar-nav .nav-item:not(:last-child) .nav-link {
  margin-right: 10px;
  cursor: pointer;
}

.nav-link {
  color: white;
  font-weight: bolder;
}

.container-fluid {
  display: flex;
  justify-content: space-between;
  align-items: center;
}



.navbar-collapse {
  flex: 1 1 auto;
  display: flex;
  justify-content: center;
}

.navbar-nav {
  display: flex;
  justify-content: center;
}
