<nav class="navbar sticky-top navbar-expand-lg py-3" [ngClass]="{'navbar-solid': navbarSolid}">
  <div class="container-fluid">
    <a href="#" class="navbar-brand">
      <img src="assets/img/navbar/logo-hor_blanco.png" alt="Logo" width="150" class="img-fluid">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
      aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse d-none d-lg-block" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active text-white" aria-current="page" [href]="'/sobre-nosotros'"
            [routerLink]="'/sobre-nosotros'" routerLinkActive="activa"> QUIÉNES SOMOS </a>
        </li>
        <li class="nav-item">
          <a class="nav-link active text-white" aria-current="page" [href]="'/nuestros-valores'"
            [routerLink]="'/nuestros-valores'" routerLinkActive="activa"> NUESTROS VALORES </a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" [href]="'#lineas'" routerLinkActive="activa"> LÍNEAS DE NEGOCIO </a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" [href]="'/contacto'" [routerLink]="'/contacto'" routerLinkActive="activa">
            CONTÁCTANOS </a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" [href]="'/datos-marpico'" [routerLink]="'/datos-marpico'"
            routerLinkActive="activa"> DICCIONARIO DE DATOS </a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle text-white" href="#" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            DOCUMENTOS
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href=""> Archivo 1 </a></li>
            <li><a class="dropdown-item" href=""> Archivo 2 </a></li>
            <li><a class="dropdown-item" href=""> Archivo 3 </a></li>
          </ul>
      </ul>
    </div>
    <div class="offcanvas offcanvas-start d-lg-none custom-offcanvas" tabindex="-1" id="offcanvasNavbar"
      aria-labelledby="offcanvasNavbarLabel">
      <div class="offcanvas-header">
        <a href="#" class="navbar-brand">
          <img src="assets/img/navbar/marpicoLogo.png" alt="Logo" class="img-fluid">
        </a>
      </div>
      <div class="offcanvas-body">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active text-white" aria-current="page" [href]="'/sobre-nosotros'"
              [routerLink]="'/sobre-nosotros'"> QUIÉNES SOMOS </a>
          </li>
          <li class="nav-item">
            <a class="nav-link active text-white" aria-current="page" [href]="'/nuestros-valores'"
              [routerLink]="'/nuestros-valores'"> NUESTROS VALORES </a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" [href]="'#lineas'"> LÍNEAS DE NEGOCIO </a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" [href]="'/contacto'" [routerLink]="'/contacto'"> CONTÁCTANOS </a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" [href]="'/datos-marpico'" [routerLink]="'/datos-marpico'"> DICCIONARIO DE
              DATOS </a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text-white" href="#" role="button" data-bs-toggle="dropdown"
              aria-expanded="false">
              DOCUMENTOS
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href=""> Archivo 1 </a></li>
              <li><a class="dropdown-item" href=""> Archivo 2 </a></li>
              <li><a class="dropdown-item" href=""> Archivo 3 </a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
