<footer class="footer  ">
  <div class="container">
    <div class="row">

      <!-- Primera columna -->
      <div class="col-12 col-md-3 border-right d-flex align-items-center justify-content-center">
        <a href="#">
          <img class="img-fluid" src="assets/img/footer/CMarpico.png" alt="Imagen">
        </a>
      </div>

      <!-- Segunda columna -->
      <div class="col-12 col-md-3 border-right d-flex align-items-center justify-content-center">
        <div class="pt-2 text-center">
          <a routerLink="/Terminos-y-condiciones" class="text-decoration-none">
            <h3 class="text-white fs-6 my-3 fw-normal"><b>Archivo 1</b></h3>
          </a>
          <a href="" target="_blank" class="text-decoration-none">
            <h3 class="text-white fs-6 my-3 fw-normal"><b>Archivo 2</b></h3>
          </a>
          <a href="" target="_blank" class="text-decoration-none">
            <h3 class="text-white fs-6 my-3 fw-normal"><b>Archivo 3</b></h3>
          </a>
        </div>
      </div>

      <!-- Tercera columna -->
      <div class="col-12 col-md-3 border-right d-flex align-items-center justify-content-center">
        <ul class="list-unstyled text-center">
          <li class="list-group-item"><strong>INFORMACIÓN</strong></li>
          <li class="list-group-item">MARPICO S.A.S</li>
          <li class="list-group-item"><strong>NIT:</strong> 800015615-7</li>
          <li class="list-group-item">CALLE 100 8 a-49 Trr B Of 702</li>
          <li class="list-group-item">(+57) 601 6235566</li>
        </ul>
      </div>

      <!-- Cuarta columna -->
      <div class="col-12 col-md-3 d-flex align-items-center justify-content-center">
        <div class="text-center">
          <h5>¿NECESITAS AYUDA?</h5>
          <svg xmlns="http://www.w3.org/2000/svg" width="200" height="40" fill="white" class="bi bi-envelope" viewBox="0 0 16 16">
            <path d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1zm13 2.383-4.708 2.825L15 11.105zm-.034 6.876-5.64-3.471L8 9.583l-1.326-.795-5.64 3.47A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.741M1 11.105l4.708-2.897L1 5.383z" />
          </svg>
          <a href="contacto" class="btn btn-primary" role="button">CONTÁCTANOS</a>
        </div>
      </div>
    </div>
  </div>
</footer>
