.footer {
  background-color: #002b49;
  padding: 20px 0;
  border-top: 1px solid #e7e7e7;

}

.footer img {
  height: 170px;
}

.border-right {
  border-right: 2px solid #e7e7e7;
}

li {
  color: white;
  font-size: medium;
  cursor: default;
  background-color: #002b49;
  border: none;
  font-family: 'Roboto', sans-serif;
}

p {
  cursor: default;
}

h5 {
  color: white;
  cursor: default;
  font-family: 'Roboto', sans-serif;
}

h3{
  font-family: 'Roboto', sans-serif;
}

@media screen and (max-width: 576px) {
  .col {
    display: block;
    width: 100%;
    margin-bottom: 20px;
    text-align: center;
    border-right: none;
  }
}

.bi-envelope {
  transition: transform 0.3s ease, fill 0.3s ease;
}

.bi-envelope:hover {
  transform: translateY(-5px);
  fill: #007bff;
}

a{
  font-family: 'Roboto', sans-serif;
}
