<footer class="footer pt-4 ">
  <div class="container-fluid">
    <div class="row">

      <!-- Primera columna -->
      <div class="col-12 col-md border-right d-flex align-items-center justify-content-center mb-3 mb-md-0">
        <a href="#">
          <img class="img-fluid" src="assets/img/footer/CMarpico.png" alt="Imagen">
        </a>
      </div>


      <!-- Segunda columna -->

      <div class="col-12 col-md border-right d-flex align-items-center justify-content-center mb-3 mb-md-0">
        <div class="pt-2 text-center">
          <ol class="list-unstyled text-center">


            <li>
              <h3 class="text-white fs-6 my-3 fw-normal"><b>Línea Ética</b></h3>
            </li>
            <li>
              <a href="https://forms.office.com/r/xXtma4LW72" target="_blank" class="text-decoration-none">
                <h3 class="text-white fs-6 my-3 fw-normal">Formulario</h3>
              </a>
            </li>
            <li>
              <a href="mailto:lineaetica@marpico.com.co" target="_blank" class="text-decoration-none">
                <h3 class="text-white fs-6 my-3 fw-normal">Correo de atención</h3>
              </a>
            </li>
          </ol>
        </div>
      </div>

      <!-- Tercera columna -->
      <div class="col-12 col-md border-right d-flex align-items-center justify-content-center mb-3 mb-md-0">
        <ul class="list-unstyled text-center">
          <li class="list-group-item small"><strong>INFORMACIÓN</strong></li>
          <li class="list-group-item small">MARPICO S.A.S</li>
          <li class="list-group-item small"><strong>NIT:</strong> 800.015.615-7</li>
          <li class="list-group-item small">CALLE 100 No.8A-49 Torre B Oficina 702 Bogotá, D.C.</li>
          <li class="list-group-item small">(+57) 601 6235566</li>
        </ul>
      </div>

      <!-- Cuarta columna -->
      <div class="col-12 col-md d-flex align-items-center justify-content-center mb-3 mb-md-0">
        <div class="text-center">
          <h5 class="fs-6">¿NECESITAS AYUDA?</h5>
          <svg xmlns="http://www.w3.org/2000/svg" width="200" height="40" fill="white" class="bi bi-envelope"
            viewBox="0 0 16 16">
            <path
              d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1zm13 2.383-4.708 2.825L15 11.105zm-.034 6.876-5.64-3.471L8 9.583l-1.326-.795-5.64 3.47A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.741M1 11.105l4.708-2.897L1 5.383z" />
          </svg> <br>
          <a href="contacto" class="btn btn-primary my-2" role="button">CONTÁCTANOS</a>
        </div>
      </div>

      <!-- Columna #2 -->

    </div>
    <div class="row py-1 bg-dark">
      <div class="col-6 d-flex justify-content-center text-white ">
        <div>
          <li class="list-group-item small">
            <a href="assets/archivos/AvisoDePrivacidad.pdf" target="_blank" class="text-decoration-none">
              <h5 class="text-white fs-6 my-3 fw-normal">Aviso de Privacidad</h5>
            </a>
          </li>
        </div>
      </div>
      <div class="col-6 d-flex justify-content-center text-white">
        <div>
          <li class="list-group-item small">
            <a href="assets/archivos/PoliticaDeUsoDeContenidosPaginaWeb.pdf" target="_blank"
              class="text-decoration-none">
              <h5 class="text-white fs-6 my-3 fw-normal">Política de Uso de Contenidos Página Web</h5>
            </a>
          </li>
        </div>
      </div>
    </div>
  </div>
</footer>
