<div class="valores">
<div id="nuestros-valores" class="container justify-content-center py-4 animate__animated animate__fadeIn">
  <div id="mision-vision" class="row align-items-center">
    <div class="col">
      <h1><strong>NUESTROS VALORES</strong></h1><br>
      <h4>Los valores que se buscan seguir fomentando y los cuales deben caracterizar las actuaciones y la cultura de todo el personal vinculado a Marpico S.A.S</h4>
    </div>
  </div><br>
  <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
    <div class="col" *ngFor="let valor of valores">
      <div class="card h-100 shadow border-0">
        <img [src]="valor.imgSrc" class="card-img-top pt-2" alt="">
        <div class="card-body">
          <h5><strong>{{ valor.title }}:</strong></h5>
          <p class="card-text">{{ valor.description }}</p>
        </div>
      </div>
    </div>
  </div><br>
</div>
</div>
