
<div id="nuestros-valores" class="container justify-content-center py-4 animate__animated animate__fadeIn ">

  <div id="mision-vision" class="row align-items-center">
    <div class="col">
      <h1><strong>NUESTROS VALORES</strong></h1><br>
    </div>




  </div><br>




  <div class="row">
    <div class="col">

      <div class="card">
        <img src="assets/img/trabajo-en-equipo.jpeg" class="card-img-top " alt="...">
        <div class="card-body">
          <h5><strong>Trabajo en equipo:</strong></h5>
          <p class="card-text">Con el aporte de cada integrante, buscar el logro de los objetivos organizacionales,
            motivando y fomentando la pasión de todos los miembros del equipo hacia la excelencia. Así mismo impulsar
            un ambiente que promueva el enriquecimiento mutuo y el respeto por las ideas y opiniones.​</p>
        </div>
      </div>

    </div>
    <div class="col">
      <div class="card" >
        <img src="assets/img/innovacion.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5><strong>Innovación y competitividad:</strong></h5>
          <p class="card-text">Buscar y proponer nuevas maneras de hacer las cosas, y la adquisición de nuevos
            productos y servicios para satisfacer las necesidades de nuestros clientes.​</p>
        </div>
      </div>

    </div>

  </div><br>

  <div class="row">
    <div class="col">

      <div class="card" >
        <img src="assets/img/enfoque.jpeg" class="card-img-top" alt="...">
        <div class="card-body"><br><br>
          <h5><strong>Enfoque de Servicio:</strong></h5>
          <p class="card-text"> Buscar dar respuesta a las necesidades de los clientes de forma oportuna, amable y
            efectiva.​</p>
        </div>
      </div>

    </div>
    <div class="col">
      <div class="card">
        <img src="assets/img/Responsabildiad.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5><strong>Responsabilidad:</strong></h5>
          <p class="card-text">Llevar a cabo las tareas con cuidado y atención, reflexionando en el impacto de sus
            decisiones y actividades en la sociedad y el medio ambiente, a través de una conducta ética y
            transparente, que sea consistente con el desarrollo sostenible y el bienestar de la comunidad.</p>
        </div>
      </div>

    </div>

  </div><br>

  <div class="row">
    <div class="col">

      <div class="card ">
        <img src="assets/img/etica.jpg" class="card-img-top" alt="...">
        <div class="card-body"><br>
          <h5><strong>Transparencia y Ética:</strong></h5>

          <p class="card-text">Declaramos nuestro compromiso con un actuar ético, transparente y honesto, acatando las
            normas, valores de la empresa y haciendo uso adecuado de los recursos.</p>
        </div>
      </div>

    </div>
    <div class="col">
      <div class="card ">
        <img src="assets/img/respeto.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5><strong>Respeto:</strong></h5>

          <p class="card-text">Tratar a todas las personas por igual, valorar su trabajo y ayudar en la mejora
            constante de sus errores. Cuando las personas son respetadas se sienten aceptadas y motivadas por seguir
            con sus trabajos y desarrollando sus capacidades personales y laborales.</p>
        </div>
      </div>

    </div>

  </div>
</div>
