<div class="animate__animated animate__fadeIn my-5">
  <h1 class="text-center" id="lineas">NUESTRAS LÍNEAS DE NEGOCIO</h1><br><br><br>
  <div class="container">
    <div class="row g-5 justify-content-between" *ngFor="let linea of lineas">
      <div class="col-md-5">
        <h2>{{ linea.titulo }}</h2><br>
        <h4>{{ linea.subtitulo }}</h4>
        <p>{{ linea.descripcion }}</p>
        <div class="social-icons d-flex justify-content-start align-items-center">
          <a [href]="linea.enlaces.facebook" target="_blank" class="facebook mx-2">
            <i class="bi bi-facebook"></i>
          </a>
          <a [href]="linea.enlaces.instagram" target="_blank" class="instagram mx-2">
            <i class="bi bi-instagram"></i>
          </a>
          <a [href]="linea.enlaces.youtube" target="_blank" class="youtube mx-2">
            <i class="bi bi-youtube"></i>
          </a>
          <a [href]="linea.enlaces.playstore" target="_blank" class="playstore mx-2">
            <i class="bi bi-google-play"></i>
          </a>
        </div>
        <div class="d-grid gap-2 my-2">
          <a [href]="linea.enlaces.pagina" target="_blank" class="btn btn-warning" role="button">Nuestra página</a>
        </div>
      </div>
      <div class="col-md-5">
        <img [src]="linea.imgSrc" class="w-100 h-100 rounded shadow" >
      </div>
    </div>
  </div>
</div>
