<div class="container history-section">
  <div class="row justify-content-center">
    <div class="col-md-8 text-center">
      <h1 class="history-title">NUESTRA HISTORIA</h1>
      <p class="history-text">Marpico S.A.S es una empresa familiar colombiana, que tuvo sus inicios en Bucaramanga en
        el año 1920 cuando el señor Marco A. Pico, bisabuelo, inició con las primeras importaciones. Actualmente, está
        compuesta por tres Líneas de Negocio – Ferretería, Promocionales y Vinos y Licores, su bodega principal está
        ubicada en el municipio de Funza Cundinamarca a donde llegan todas las importaciones y de donde se distribuye a
        los diferentes puntos a nivel nacional. Generamos más de 350 empleos y estamos comprometidos con el bienestar de
        nuestros colaboradores.</p>
    </div>
  </div>
</div>
