<section class="my-5">
  <h1 class="history-title text-center"> <strong>NUESTRA HISTORIA</strong></h1>
  <div class="container">
    <div class="row">
      <h5>
        Marpico S.A.S es una empresa familiar colombiana, que tuvo sus inicios en Bucaramanga en el año 1920 cuando el
        señor Marco A. Pico, bisabuelo, inició con las primeras importaciones. Actualmente, está compuesta por tres
        Líneas de Negocio – Ferretería, Promocionales y Vinos y Licores, su bodega principal está ubicada en el
        municipio de Funza Cundinamarca a donde llegan todas las importaciones y de donde se distribuye a los
        diferentes puntos a nivel nacional. Generamos más de 350 empleos y estamos comprometidos con el bienestar de
        nuestros colaboradores.
      </h5>
    </div>
  </div>
</section>
