<section class="my-5">
  <h1 class="history-title text-center"> <strong>NUESTRA HISTORIA</strong></h1>
  <div class="container">
    <div class="row">
      <h5 class="text-center">
       En 1920, el señor Marco A. Pico, inicío en Bucaramanga con las primeras importaciones. En esa época, comenzó importando productos de ferretería desde Alemania. Posteriormente, fundó la empresa Marco A.Pico & Cía.,
       donde, junto con su familia,continuó con el negocio e incorporó la importación de vinos de grandes marcas.Para el año de 1987, la empresa se transformó en MARPICO S.A., y el Sr. Marcos Pico Ascencio, junto con sus
       hijos, siguió con el legado de su padre. Con el tiempo, la compañía fue creciendo y trasladó su domicilio a la ciudad de Bogotá, D.C. Actualmente, la empresa se encuentra en la cuarta generacion y es una de las principales
       empresas importadoras de vinos y licores,productos promocionales y de ferretería.Genera alrededor de 350 empleos y está comprometida con el crecimiento del país, sus trabajores y sus familias.

      </h5>
    </div>
  </div>
</section>
