<section class="min-vh-100">
  <div class="custom-image-container">
    <img src="assets/img/contacto/quienes-somos.jpg" class="img-fluid custom-image">
    <div class="text">QUIÉNES SOMOS</div>
  </div>
  <div class="container my-5">
    <h1 class="text-center"><strong>NOSOTROS</strong></h1>
    <h3 class="my-5">¿Quienes somos?</h3>
    <h5>Somos una empresa familiar colombiana, líder en la importacíon y comercialización de productos de Ferretería, Promocionales y Vinos y Licores.Nuestro centro de operacionesestá ubicado en Bogotá,D.C.
      Gracias a nuestra sólida estructura comercial y logística, logramos llegar a gran parte del territorio colombiano.Garantizamos que nuestros productos cumplan rigurosamente con todas las normativas vigentes
      y las expectativas de nuestros clientes,contribuyendo asi al bienestar y desarrollo de las comunidades en las que operamos. <br><br>
      Estamos comprometidos con mantener los más altos estándares de calidad y responsabilidad social. <br><br>
      Promovemos un ambiente laboral seguro y saludable,brindando oportunidades de desarrollo profesional a nuestros empleados. <br><br>
      Estamos comprometidos con prácticas sostenibles que minimicen el impacto ambiental y apoyen el desarrollo de las comunidades donde operamos. <br><br>
      Estamos firmemente comprometidos con la ética y la responsabilidad social. Trabajamos diligentemente para prevenir el lavado de activos (LA), el financiamiento del terrorismo(FT), el financiamiento de la
      profileración de armas de destrucción masiva(FPADM), así como la corrupción y el soborno, con el fin de crear valor para nuestros clientes, colaboradores y accionistas, manteniendo los más altos estándares de integridad
      y transpariencia en todas nuestras operaciones. <br>
      Valoramos la confianza de nuestros accionistas, trabajando continuamente para asegurar el crecimiento y la estabilidad de la empresa. <br><br>
      Uno de nuestros objetivos es contribuir al bienestar y progeso de la sociedad, reafirmando nuestro compromiso con el país, nuestros colaboradores,sus familias y nuestros accionistas.
    </h5>
  </div>
</section>
