<section class="min-vh-100">
  <div class="custom-image-container">
    <img src="assets/img/contacto/quienes-somos.jpg" class="img-fluid custom-image">
    <div class="text">QUIÉNES SOMOS</div>
  </div>
  <div class="container my-5">
    <h1 class="text-center"><strong>NOSOTROS</strong></h1>
    <h5 class="text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis itaque a in ut dignissimos
      aut consequuntur
      eius quaerat assumenda, minus, laudantium maiores illum impedit quas vitae minima adipisci, fugit tempore!</h5>
  </div>
</section>
