

<div id="lineas" class="animate__animated animate__fadeIn animate__delay-0.10s">
  <h1 class="text-center">NUESTRAS LINEAS DE NEGOCIO</h1><br>
  <div class="contenedor">
    <div class="row">
      <div class="col">
        <a href="#">
          <figure>
            <img src="assets/img/ranger.jpg">
            <div class="capa">
              <h2>FERRETERIA</h2><br>
              <h4>Línea líder en importación y distribución de Ferretería:</h4>
              <p>Actualmente cuenta con un amplio portafolio de herramientas mecánicas, manuales y eléctricas
                distinguidas con el nombre RANGER y MP TOOLS. También incluye elementos de protección industrial en su
                portafolio, distinguidos con la marca MAVERICK SAFETY. Cubre todo el territorio colombiano, brindando
                exclusividad y facilidades de entregas.</p>
                <div class="d-grid gap-2">
                  <a href="https://ranger.com.co/#/login" target="_blank" class="btn btn-primary" role="button" >Nuestra página</a>
                </div>
            </div>
          </figure>
        </a>
      </div>
      <div class="col">
        <a href="#">
          <figure>
            <img src="assets/img/promocionales.jpg">
            <div class="capa">
              <h2>PROMOCIONALES</h2><br>
              <h4>Línea líder en importación y distribución Promocionales:</h4>
              <p>Actualmente cuenta con un amplio portafolio de productos para dar respuesta a una necesidad de las
                empresas colombianas, la promoción y la recordación de sus servicios, productos y marcas a través de
                artículos promocionales novedosos.</p>
                <div class="d-grid gap-2">
                  <a href="https://marpicopromocionales.com/#/" target="_blank" class="btn btn-primary" role="button"> Nuestra página</a>
                </div>
            </div>
          </figure>
        </a>
      </div>
      <div class="col">
        <a href="#">
          <figure>
            <img src="assets/img/vinos.jpg">
            <div class="capa">
              <h2>VINOS Y LICORES</h2><br>
              <h4>Línea líder en importación y distribución de Vinos y licores:</h4>
              <p>Actualmente es importador y distribuidor exclusivo de vinos y licores de productos provenientes de
                España, Francia, Italia, Estados Unidos, Argentina, Chile, Australia, Reino Unido, Guatemala y México.
                Nuestra línea cuenta con Regionales que cubren gran parte del territorio colombiano: <br><br> Bogotá ·
                Bucaramanga · Medellín · Cali · Barranquilla · Cartagena · Santa Marta · Pereira · Manizales · Armenia
              </p>
              <div class="d-grid gap-2">
                <a href="https://marpicovinos.com/#/VerificacionEdad" target="_blank" class="btn btn-primary" role="button">Nuestra página</a>
              </div>
            </div>
          </figure>
        </a>
      </div>
    </div>
  </div>
</div>
